.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 20px 40px;
  font-size: 18px;
  font-family: $font;
  line-height: 1;
  font-weight: bold;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  background-color: $text-color;
  color: #FFF;
  border: none;
  @include res(l) {
    font-size: 14px;
    padding: 15px 20px;
  }

  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn--outline {
  border: 2px solid $text-color;
  color: $text-color;
  background: transparent;

  &:hover {
    background: $text-color;
    color: #FFF;
  }
}

.btn--purple {
  background: $purple;
  color: #FFF;

  &:hover {
    background: $purple-hover;
    color: #FFF;
  }
}

.btn--gray {
  border: 2px solid $gray-text;
  color: $gray-text;
  background: transparent;
  padding: 15px 40px;

  &:hover {
    border: 2px solid $text-color;
    color: $text-color;
  }
}

.btn--go-to {
  i {
    position: relative;
    margin-left: 5px;
    top: 3px;
  }
}