.custom-list {
  ul {
    padding: 0;
    list-style-type: none;

    li + li {
      margin-top: 25px;
      @include res(l) {
        margin-top: 10px;
      }
    }

    li {
      padding-left: 30px;
      @include res(m) {
        padding-left: 20px;
      }
      position: relative;

      &:before {
        position: absolute;
        content: '';
      }
    }
  }

  .h3 {
    @include res(l) {
      font-size: 16px;
    }
  }

  &--purple {
    li:before {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 3px solid $purple-hover;
      left: 0;
      top: 6px;
      @include res(l) {
        width: 13px;
        height: 13px;
        border: 2px solid $purple-hover;
        top: 3px;
      }
    }
  }

  &--count {
    ol {
      padding: 0;
      margin-left: 20px;

      li + li {
        margin-top: 20px;
        @include res(l) {
          margin-top: 12px;
        }
      }

      li {
        font-size: 24px;
        font-weight: bold;
        transition: .3s all ease-in-out;
        @include res(l) {
          font-size: 18px;
        }

        &:hover {
          color: $purple-hover;

          a:after {
            opacity: 1;
            position: absolute;
            font-family: 'agifta-icons' !important;
            content: "\e901";
            top: 0px;
            right: -30px;
          }
        }

        a {
          &:after {
            content: '';
            opacity: 0;
            transition: .3s all ease-in-out;
            color: $purple-hover;
          }

          position: relative;
        }
      }
    }
  }

  &__desc {
    margin-top: 15px;
    @include res(m) {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.page-navigation {
  ul {
    list-style-type: none;
    display: flex;
    padding: 3px;
    background: white;
    border-radius: 20px;
    box-shadow: $shadow-block;

    li {
      font-size: 18px;
      padding: 7px 19px;
      cursor: pointer;
      border-radius: 20px;
      background: transparent;
      transition: .3s all ease-in-out;

      &.active {
        transition: .3s all ease-in-out;
        background: transparentize($gray-text, 0.7);
      }
    }
  }
}

.notice-badge {
  &__content {
    background: white;
    padding: 30px 120px 50px 40px;
    border-radius: 20px;
    @include res(l) {
      padding: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    img {
      width: 22px;
      height: 24px;
      margin-right: 20px;
      @include res(s) {
        margin-right: 5px;
      }
    }
  }

  &__text {
    @include res(l) {
      font-size: 14px;
    }
  }
}

.map-icon {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    @include res(m) {
      width: 50px;
      height: 50px;
    }
  }

  &__text {
    color: $purple;
    padding-left: 20px;
    @include res(m) {
      padding-left: 10px;
      font-size: 14px;
    }
  }
}

.social-networks-widget {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;

    a {
      display: inline-flex;
      vertical-align: top;
      border: 2px solid $gray-text;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      transition: all 0.3s ease;
      padding: 5px;

      & + a {
        margin-top: 15px;
      }
    }

    svg {
      fill: $gray-text;
    }
  }
}

.flex-first-xl {
  @include res(xl) {
    order: 1;
  }
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  @include res(s) {
    flex-direction: column;
  }

  .nav-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 20px 40px;
    font-size: 18px;
    font-family: $font;
    line-height: 1;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: $gray-text;
    border: 2px solid $gray-text;
    @include res(l) {
      font-size: 14px;
      padding: 15px 20px;
    }

    &.active {
      background: white;
      color: black;
      border: none;
      box-shadow: $shadow-block;
    }

    & + .nav-button {
      margin-left: 40px;
      @include res(l) {
        margin-left: 20px;
      }
      @include res(s) {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}

@for $i from 1 through 12 {
  .mb-#{$i} {
    margin-bottom: 10px * $i;
  }
  .mt-#{$i} {
    margin-top: 10px * $i;
  }
  .ml-#{$i} {
    margin-left: 10px * $i;
  }
  .mr-#{$i} {
    margin-right: 10px * $i;
  }
  .my-#{$i} {
    margin: {
      top: 10px * $i;
      bottom: 10px * $i;
    }
  }
  @each $breakpoint, $value in $breakpoints {
    .mrem-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin: 0 !important;
      }
    }
    .mb-#{$i}-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-bottom: 10px * $i !important;
      }
    }
    .mb-rem-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-bottom: 0 !important;
      }
    }
    .mt-#{$i}-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-top: 10px * $i !important;
      }
    }
    .mt-rem-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-top: 0 !important;
      }
    }
    .ml-#{$i}-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-left: 10px * $i !important;
      }
    }
    .ml-rem-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-left: 0 !important;
      }
    }
    .mr-#{$i}-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-right: 10px * $i !important;
      }
    }
    .mr-rem-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin-right: 0 !important;
      }
    }
    .my-#{$i}-#{$breakpoint} {
      @include res(#{$breakpoint}) {
        margin: {
          top: 10px * $i !important;
          bottom: 10px * $i !important;
        }
      }
    }
  }
}

@each $breakpoint, $value in $breakpoints {
  .hidden-#{$breakpoint} {
    display: none;
    @include res(#{$breakpoint}) {
      display: inherit !important;
    }
  }
  .visible-#{$breakpoint} {
    display: inherit;
    @include res(#{$breakpoint}) {
      display: none !important;
    }
  }
}

.action-timer {
  &-block {
    display: inline-block;
    vertical-align: top;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  &__time-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__time-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    font-size: 12px;

    .value {
      font-size: 60px;
      font-weight: bold;
    }

    & + & {
      margin-left: 10px;
      position: relative;

      &:before {
        content: ':';
        position: absolute;
        left: -9px;
        top: 50%;
        transform: translate(0, -75%);
        font-size: 30px;

      }
    }
  }
}

.label-input {
  border: none;
  outline: none;
  padding: 20px 40px 10px 40px;
  border-radius: 30px;
  font-size: 18px;
  color: black;
  width: 100%;
  position: relative;
  cursor: text;
  transition: .3s all ease-in-out;
  @include res(l) {
    padding: 15px 20px 7.5px 20px;
  }

  &:focus {
    transition: .3s all ease-in-out;
    box-shadow: inset 0px 0px 0px 1px $gray-text;
  }

  &-label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    font-size: 16px;
    color: $gray-text;
    transition: .3s all ease-in-out;
    cursor: text;
    @include res(l) {
      font-size: 14px;
      left: 20px;
    }
  }

  & + .label-input-label.active {
    top: 15px;
    font-size: 14px;
    transition: .3s all ease-in-out;
    @include res(l) {
      font-size: 8px;
      top: 7px;
    }
  }

  &--small + &-label {
    left: 26px;
    font-size: 14px;
  }

  &--small {
    padding: 6px 26px 8px 26px;
    font-size: 16px;
    &::placeholder {
      font-size: 14px;
      color: transparentize($gray-text, 0.4)
    }

    & + .label-input-label.active {
      top: 8px;
      font-size: 10px;
      @include res(l) {
        font-size: 8px;
        top: 7px;
      }
    }
  }

  &--gray {
    border: 1px solid transparentize($gray-text, 0.8);
  }

  &--no-label {
    padding: 12px 22px;
    border-radius: 20px;
    line-height: 1;
  }
}

.form-row {
  position: relative;

  &.radios {
    display: flex;
    @include res(l) {
      flex-direction: column;
    }
  }
}

.custom-radio {
  display: flex;
  align-items: center;
  line-height: 1;

  input {
    display: none;

    &:checked + .radio-radio:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: $purple-hover;
      border-radius: 50%;
      left: 2px;
      top: 2px;
    }
  }

  .radio-radio {
    margin-right: 12px;
    position: relative;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    background: white;
    border-radius: 50%;
    border: 1px solid $gray-text;
  }
}

.custom-select-basic {
  width: 100%;

  & + .select2-container {
    *:focus {
      outline: none;
    }

    .select2-selection--single {
      height: 34px;
      border: 1px solid transparentize($gray-text, 0.7);
      border-radius: 17px;
      background: transparent;
      font-size: 14px;
    }

    .select2-selection__rendered {
      height: 100%;
      line-height: 34px;
      padding: 0 19px;
      font-size: 14px;
      font-weight: 500;
      color: $gray-text;
    }

    .select2-selection__arrow {
      top: 5px;
      right: 15px;
    }
  }
}

.custom-input-basic {
  display: inline-flex;
  justify-content: stretch;
  align-items: center;

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  font-size: 20px;

  input {
    width: 50px;
    outline: none;
    border: none;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    background: transparent;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }

  vertical-align: top;
  position: relative;

  button {
    font-size: 20px;
    padding: 0 16px;
    font-weight: bold;
    color: $gray-text;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
  }

  border: 1px solid transparentize($gray-text, 0.8);
  border-radius: 18.5px;

  &--solid {
    background-color: transparentize($gray-text, 0.8);

    input {
      border: {
        right: 1px solid transparentize($gray-text, 0.8);
        left: 1px solid transparentize($gray-text, 0.8);
      }
    }

    button {
      font-weight: normal;
    }
  }
}

.custom-file-input {
  padding: 15px 40px;
  border-radius: 30px;
  border: 1px solid transparentize($gray-text, .8);
  width: 100%;
  display: flex;
  position: relative;
  color: $gray-text;
  input {
    display: none;
  }
  &:after {
    position: absolute;
    content: 'Отправить';
    right: 0;
    top: 0;
    padding: 15px 40px;
    border: 2px solid $gray-text;
    border-radius: 0 30px 30px 0;
    font-weight: bold;
    color: $gray-text;
  }
  @include res(l) {
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 30px 30px 0 0;
    margin-bottom: 40px;
    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      top: -2px;
      bottom: 0;
      top: calc(100% - 2px);
      border-radius: 0 0 30px 30px;
      left: 0;
      right: 0;
    }
  }
}

.custom-textarea {
  border: 1px solid transparentize($gray-text, .8);
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 16px;
  color: $gray-text;
  font-family: inherit;
  resize: none;
  &::placeholder {
    color: $gray-text;
  }
  &:focus {
    outline: none;
  }
  width: 100%;
  height: 200px;
  @include res(l) {
    font-size: 14px;
    padding: 12px 20px;
  }
}

.info-hover {
  & + span {
    display: none;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    width: 400px;
    font-weight: normal;
    text-transform: none;
    z-index: 5;
    top: -100%;
    left: 105%;

    &:before {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-right: 5px solid white;
      left: -10px;
      top: 18px;
      transform: translate(0, -50%);
    }
  }

  &:hover + span {
    display: inline;
  }
}

.divider {
  margin: 30px 0;
  height: 1px;
  width: 100%;
  background: transparentize($gray-text, 0.8);
}

.purple-link {
  color: #ac1f95;
  transition: color 0.3s ease;
}