$breakpoints: (
	'xxl': (max-width: 1680px),
	'xl': (max-width: 1440px),
	'l': (max-width: 1024px),
	'm': (max-width: 768px),
	's': (max-width: 680px),
	'xs': (max-width: 480px),
	'xxs': (max-width: 375px),
);

$font: 'Geometria', 'Helvetica Neue', Arial, sans-serif;
$font-icons: 'agifta-icons' !important;

$container_width: 1432px;

$gutter: 12px;

$text-color: #11161e;
$bg-color: #f9f9fa;
$purple: #ac1f95;
$purple-hover: #c924ae;
$gray-text: #6c81a0;
$cyan: #29c8ab;
$selling-red: #e1004e;

$shadow-block: 0 10px 30px 0 rgba(#6c81a0,0.2)