.mission {
  @include res(xl) {
    * {
      transition: .3s all ease-in-out;
    }
  }

  &__tiles-block {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    margin-left: -25px;
    margin-right: -25px;
    @include res(xl) {
      margin: 0;
      margin-top: 60px;
    }
    @include res(m) {
      flex-direction: column;
    }
    @include res(s) {
      margin-top: 40px;
    }

    & > * {
      padding: 0 25px;
      @include res(m) {
        padding: 25px 0;
      }

      img {
        max-width: 100%;
      }
    }
  }

  &__tile {

    &__text {
      margin-top: 20px;

      .h3 {
        text-align: left;
        margin-bottom: 20px;
        @include res(xl) {
          margin-bottom: 10px;
        }
      }

      &__inner {
        @include res(xl) {
          font-size: 14px;
        }
      }

      @include res(m) {
        margin-left: 25px;
        width: 67%;
        margin-top: 0;
      }
      @include res(s) {
        margin: 10px 0 0 0;
        width: 100%;
      }
    }

    &__img {
      @include res(xl) {
        height: 200px;
        img {
          max-height: 100%;
        }
      }
      @include res(m) {
        width: 20%;
      }
      @include res(s) {
        width: 70%;
      }
    }

    @include res(m) {
      display: flex;
      justify-content: flex-start;
    }
    @include res(s) {
      flex-direction: column;
    }
  }
}

.worldwide {
  position: relative;
  overflow: hidden;
  width: 100%;

  @include res(m) {
    padding: {
      top: 0;
    }
  }

  &-map {
    background-image: url("../img/about/map-shadow.png");
    background-size: contain;

    &__image {
      max-width: 100%;
    }

    &__pen {
      & * {
        transition: .3s all;
      }

      &-body {
        right: -45%;
        top: 30%;
        @include res(xl) {
          right: -48%;
          top: 20%;
        }
        @include res(l) {
          right: -31%;
          top: 40%;
          width: 50%;
        }
      }

      &-cap {
        left: -5%;
        top: 70%;
        @include res(xl) {
          left: -15%;
          top: 70%;
        }
        @include res(l) {
          left: 0%;
          top: 75%;
          width: 15%;
        }
      }

      img {
        position: absolute;
      }
    }
  }
}

.reviews {

  &-block {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    width: 100%;
    justify-content: center;
    @include res(xl) {
      margin: 0;
    }
  }

  &-item {
    width: calc(100% / 5);
    border-radius: 20px;
    transition: .3s all ease-in-out;
    padding: 12px;

    &__wrap {
      background: white;
      border-radius: 20px;
      overflow: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      transition: .3s all;
    }

    @include res(xl) {
      width: calc(100% / 4);
    }
    @include res(l) {
      width: calc(100% / 3);
    }
    @include res(m) {
      width: calc(100% / 2);
    }
    @include res(xs) {
      width: calc(100%);
    }

    &:hover &__wrap {
      transition: .3s all;
      box-shadow: $shadow-block;
      transition: .3s all ease-in-out;
      transform: scale(1.03);
    }

    &__image {
      height: 395px;
      overflow: hidden;

      img {
        min-height: 100%;
        min-width: 100%;
      }
    }

    &__footer {
      padding: 10px 15px;
      font-size: 14px;
      color: $gray-text;
      display: flex;

      &__avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 13px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.our-team {
  &-block {
    align-items: center;
    justify-content: center;
    margin-top: -15px;
  }

  &__item {
    margin-top: 15px;
    filter: grayscale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s all ease-in-out;

    &__footer {
      padding: 30px;
      text-align: center;
    }

    &__position {
      font-size: 12px;
      font-weight: bold;
    }

    &__image {
      display: flex;
      justify-content: end;
      flex-direction: column;
      height: 330px;
      overflow: hidden;

      &-color {
        position: absolute;
        width: 100%;
        height: 330px;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .3s all ease-in-out;
      }

      &__pic {
        top: 50px;
        position: relative;
      }
    }

    &:hover {
      filter: grayscale(0);
      background: white;
      box-shadow: $shadow-block;
      transition: .3s all ease-in-out;

      .our-team__item__image {
        &-color {
          transition: .3s all ease-in-out;
          opacity: 1;
          background-image: url(../img/about/our-team/item-bg.png);
          background-size: 100%;
        }
      }
    }
  }
}

.about-banner {
  background-image: url(../img/about/banner-bg.png);
  @include res(xl) {
    background-position: top;
  }
  @include res(m) {
    background: $selling-red;
  }

  &__multiple-images {
    position: relative;
    width: 100%;
    height: 100%;

    & > * {
      position: absolute;

      img {
        max-width: 100%;
      }
    }

    .magazine {
      bottom: -70px;
      right: -5px;
    }

    .toothbrush {
      bottom: -30px;
      left: 50px;
    }

    .phone {
      top: 37%;
      left: 50px;
    }

    .pen1 {
      top: 30%;
      right: 30px;
    }
    .pen2 {
      top: 40%;
      right: 90px;
    }
  }
}

[data-toggle-content] > * {
  transition: .3s all;
  display: none;

  &.active {
    transition: .3s all;
    display: block;
  }
}