.blog {
  .home-blog-intro {
    padding: 24px;
    transition: .3s;
    border-radius: 20px;
    &:hover{
      background: white;
      box-shadow: 0 5px 10px 0 rgba(#6c81a0, 0.2);
    }
  }
  .flickity-slider {
    .home-blog-list {
      width: 100%;
    }
  }
}

.blog-detail-content {
  overflow: hidden;
}

.blog-slider {
  margin: 35px;
  @include res(s) {
    margin: 0;
  }
}