.contacts {
  &-hotline {
    background: $orange;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    &__text {
      line-height: 1;
      font-size: 60px;
      font-weight: bold;
      @include res(l) {
        text-align: center;
        font-size: 36px;
      }
      @include res(s) {
        text-align: center;
        font-size: 24px;
      }
    }
    @include res(l) {
      flex-direction: column;
      padding: 20px;
    }
  }
  &-info {
    &__text {
      margin-top: 40px;
      @include res(l) {
        margin-top: 15px;
      }
      &__elem {
        .title {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 4px;
        }
        .h3 {
          font-weight: normal;
        }
        @include res(l) {
          margin-top: 15px;
        }
        & + * {
          margin-top: 40px;
          @include res(l) {
            margin-top: 15px;
          }
        }
      }
    }
  }
  &-map {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    & > * {
      height: 100%;
    }
    @include res(l) {
      height: 400px;
    }
  }
}