.faq {
  &-nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-nav-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 20px 40px;
    font-size: 18px;
    font-family: $font;
    line-height: 1;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: $gray-text;
    border: 2px solid $gray-text;
    @include res(l) {
      font-size: 14px;
      padding: 15px 20px;
    }

    &.active {
      background: white;
      color: black;
      border: none;
      box-shadow: $shadow-block;
    }

    & + & {
      margin-left: 40px;
    }

  }
}

.faq-detail-badge {
  padding: 32px;
  background: white;
  border-radius: 20px;

  &__accordion {
    div + h3 {
      margin-top: 40px;
    }

    h3 {
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer;

      &:focus {
        outline: none;
        border: none;
      }

      i {
        font-size: 24px;
        padding-right: 12px;
      }

      display: flex;
      justify-content: flex-start;
      position: relative;

      &:after {
        font-family: 'agifta-icons';
        content: '\e907';
        position: absolute;
        right: 0;
        top: 3px;
        transform: rotate(90deg);
        font-size: 12px;
        transition: .3s all ease-in-out;
      }

      &.ui-state-active {
        &:after {
          transition: .3s all ease-in-out;
          transform: rotate(-90deg);
        }
      }
    }

    &__content {
      padding-top: 34px;
    }

    .custom-list {
      ol li {
        &.active {
          font-size: 20px;
          color: $purple-hover;
          font-weight: bold;
        }

        padding-left: 5px;
        font-size: 14px;
        color: $gray-text;
        font-weight: normal;
      }
    }
  }
}