.scratch-banner {
  &.main-banner {
    background-image: url(../img/scratch/banner-bg.png);
    background-position: top right;
    @include res(l) {
      background: $orange;
    }
  }

  .main-banner__button {
    display: flex;
    align-items: center;

    .btn {
      margin-left: 80px;
      position: relative;
      z-index: 1;
      @include res(l) {
        margin: 0;
      }
    }
  }

  .main-banner__content {
    width: 60%;
  }

  .main-banner__additional-image.cat {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    @include res(l) {
      top: 100px;
    }
    @include res(s) {
      top: 240px;
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      @include res(l) {
        right: -200px;
      }
    }
  }

  .scratch-banner__action {
    font-size: 24px;
    @include res(l) {
      font-size: 18px;
    }

    &-timer {
      @include res(l) {
        display: none;
      }
    }
  }

  .action {
    &-current {
      padding: 5px;
      background: $selling-red;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &-old {
      font-weight: bold;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: white;
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(-15deg);
      }
    }
  }
}

.s-scratch-faq {
  .big-title {
    line-height: 1;
  }

  .scratch-faq {
    display: flex;
    margin: 0 -24px;

    & > * {
      padding: 0 24px;
    }
  }

  .scratch-faq-block {
    width: 50%;
    @include res(l) {
      width: 100%;
    }
    *:focus {
      outline: none;
    }

    h3 {
      margin-top: 30px;
      cursor: pointer;

      &:active {
        outline: none;
        border: none;
      }
    }

    div {
      padding: 20px 0;
    }
  }

  .scratch-faq-image {
    width: 50%;

    img {
      width: 100%;
    }

    @include res(l) {
      display: none;
    }
  }
}

.s-reviews {
  .reviews-grid.personal {
    .reviews-item {
      padding: 16px 16px 40px 16px;
      background: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 24px;

      &-wrap {
        display: flex;
        height: 100%;
      }

      &__info {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
      }

      &__date {
        font-size: 14px;
      }

      &__name {
        font-size: 24px;
        line-height: 1;
      }

      &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        width: 75px;
        height: 75px;

        img {
          height: 100%;
        }
      }

      &__text {
        font-size: 14px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }
}

.s-scratch-apply {
  background-color: #11161e;
  color: white;
}

.scratch-apply {
  background-image: url("../img/scratch/apply-vectors-bg.png");
  background-size: cover;
  padding-bottom: 100px;
  @include res(l) {
    background: #11161e;
  }

  &__item {
    font-size: 18px;
    margin-top: 50px;
    position: relative;
    @include res(l) {
      font-size: 16px;
      margin-top: 25px;
    }

    &:before {
      content: '';
      border-radius: 50%;
      opacity: 0;
      transition: .3s all ease-in-out;
    }

    &__image {
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 140px;

      img {
        width: 100%;
      }
    }
  }

  &-radio {
    display: none;

    &:checked + .scratch-apply__item:before {
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-text;
      content: '✔';
      position: absolute;
      width: 40px;
      height: 40px;
      right: -15px;
      top: -15px;
      background-color: white;
      box-shadow: $shadow-block;
    }
  }

  &__form {
    &__row {
      & + & {
        margin-top: 40px;
        @include res(l) {
          margin-top: 20px;
        }
      }

      .input-text {
        width: 100%;
      }
    }
  }
}