.warranty-list {
  margin-top: 45px;
}

.warranty-item {
  display: flex;
  margin-bottom: 90px;
  justify-content: space-between;
  @include res(m) {
    flex-direction: column;
    br {
      display: none;
    }
  }
  @include res(s) {
    margin-bottom: 70px;
  }

  &__title {
    width: 40%;
    line-height: normal;
    font-size: 36px;
    font-weight: bold;
    display: flex;

    .count {
      color: $selling-red;
      padding-right: 30px;
    }

    @include res(m) {
      width: 100%;
      .count {
        padding-right: 5px;
      }
    }
    @include res(s) {
      font-size: 24px;
    }
  }

  &__desc {
    background: white;
    padding: 25px;
    width: 50%;
    border-radius: 20px;
    font-size: 18px;
    position: relative;
    box-shadow: $shadow-block;

    &:before {
      content: '';
      position: absolute;
      width: 65px;
      height: 5px;
      left: -95px;
      top: 40px;
      background: black;
    }

    @include res(m) {
      width: 100%;
      margin-top: 12px;
    }
    @include res(s) {
      font-size: 16px;
      padding: 15px;
    }
  }
}

.warranty-banner {
  &.main-banner {
    background-image: url(../img/warranty/banner-bg.png);
    @include res(xl) {
      background-position: top;
    }
    @include res(m) {
      background: $cyan;
    }
    @include res(xxs) {
      height: 395px;
    }
    .main-banner__additional-image {
    }
  }
}