.flickity-prev-next-button{
	width: 60px;
	height: 60px;
	background: #FFF;
	box-shadow: 0 4px 10px 0 rgba(#000,0.2);
	transition: all 0.3s ease;
	@include res(l){
		width: 40px;
		height: 40px;
	}
	@include res(xs){
		width: 30px;
		height: 30px;
	}

	&:hover{
		background: $purple-hover;
		box-shadow: 0 4px 10px 0 rgba(#000,0.5);

		.flickity-button-icon{
			fill: #FFF;
		}
	}

	&:focus{
		box-shadow: 0 4px 10px 0 rgba(#6c81a0,0.3);
	}

	&:active{
		opacity: 1;
	}

	&:disabled{
		opacity: 0.2;
		pointer-events: all;
		cursor: default;
		background: #FFF;
		box-shadow: 0 4px 10px 0 rgba(#000,0.2);

		.flickity-button-icon{
			fill: $text-color;
		}
	}

	.flickity-button-icon{
		width: 40%;
		height: 40%;
		top: 30%;
		left: 30%;
		transition: all 0.3s ease;
		fill: $text-color;
	}

	&.next{
		right: 20px;
		@include res(l){
			right: 10px;
		}
	}
	&.previous{
		left: 20px;
		@include res(l){
			left: 10px;
		}
	}
}

.flickity-page-dots{
	z-index: 1;
	@include res(xl){
		bottom: 20px;
	}
	@include res(xs){
		bottom: 5px;
	}

	.dot{
		border: 2px solid $text-color;
		width: 18px;
		height: 18px;
		background: #FFF;
		opacity: 1;
		margin: 0 6px;
		transition: all 0.3s ease;
		@include res(xs){
			width: 12px;
			height: 12px;
		}

		&:hover{
			border-color: $purple-hover;
		}

		&.is-selected{
			background: $text-color;
			border-color: $text-color;
		}
	}
}

.catalog {
	&-slider {
		padding: 0 59px;

		.flickity-prev-next-button.previous {
			left: 0;
		}

		.flickity-prev-next-button.next {
			right: 0;
		}

		@include res(l) {
			padding: 0 45px;
		}
		@include res(xs) {
			padding: 0 35px;
		}

		&__slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: calc(100% / 5);
			@include res(xl) {
				width: calc(100% / 4);
			}
			@include res(l) {
				width: calc(100% / 3);
			}
			@include res(m) {
				width: calc(100% / 2);
			}
			@include res(xs) {
				width: 100%;
			}

			.h4 {
				transition: .3s all;
			}

			&:hover {
				.h4 {
					transition: .3s all;
					color: $purple-hover;
				}
			}

			&.active {
				.h4 {
					color: $purple-hover;
				}
			}
		}

		&__img-wrap {
			margin-bottom: 10px;
			position: relative;
		}

		&__img-name {
			position: absolute;
			left: 55%;
			top: 15px;
			font-weight: bold;
			font-size: 14px;
		}

		&-desc {
			.btn {
				margin-top: 50px;
				@include res(xl) {
					margin-top: 20px;
				}
				@include res(m) {
					margin-top: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			&__item {
				display: flex;
				margin-left: -100px;
				margin-right: -100px;
				justify-content: space-between;
				padding: 0 100px;
				@include res(xl) {
					margin: 0;
				}
				@include res(l) {
					flex-direction: column;
					margin: 0;
					br {
						display: none;
					}
				}
				@include res(m) {
					padding: 0;
					.h2 {
						display: none;
					}
				}


				& > * {
					padding: 0 100px;
					width: 50%;
					@include res(xl) {
						padding: 0;
					}
					@include res(l) {
						width: 100%;
						padding: 0;
					}

					& + * {
						@include res(l) {
							margin-top: 20px;
						}
					}
				}

				.h4 {
					line-height: 36px;
					@include res(xl) {
						line-height: 30px;
						text-align: justify;
					}
				}
			}
		}
	}
}